@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    overscroll-behavior: none;
}

.parallax::before {
    content: "";
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url('/landing.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: -2;
}
