/* Global Reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Root Font Size */
html {
  font-size: 62.5%; /* 1rem = 10px */
  scroll-padding-top: 60px;
}

/* Color Palette */

:root {
  --starbucks-green: rgb(0, 98, 65);
  --starbucks-accent: rgb(0, 117, 74);
  --starbucks-brown: rgb(161, 134, 100);
  --starbucks-gold: rgb(212, 184, 135);
  --starbucks-grey: rgb(102, 102, 102);
  --starbucks-warm: rgb(242, 240, 235);
  --starbucks-black: rgb(52, 52, 42);
  --starbucks-white: rgb(255, 255, 255);
}

/* Base Styles */
body {
  font-size: 1.6rem; /* 16px */
  background-color: var(--starbucks-white);
  color: var(--starbucks-black);
}

/* Navbar Styles */

.navbar {
  overflow: auto;
  font-family: 'Montserrat', sans-serif;
  background-color: var(--starbucks-white);
  position: fixed;
  border-bottom: 3px solid var(--starbucks-black);
  border-bottom-style: dotted;
  top: 0;
  width: 100%;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: opacity 0.5s ease-in-out;
}

.logo {
  display: flex;
  align-items: center;
}

.logo svg {
  padding: 14px 20px;
  height: 60px;
}

.word-mark {
  font-size: 1.8rem;
  font-weight: bold;
  text-transform: uppercase;
  margin-left: 10px;
}

.hamburger {
  display: none;
}

.nav-links ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  justify-content: flex-end;
}

.nav-links ul li {
  margin-left: 20px;
}

.nav-links ul li a {
  color: var(--starbucks-black);
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
  font-weight: bold;
}

.nav-links ul li a:hover {
  color: var(--starbucks-green);
}

/* utility styles */

a {
  color: var(--starbucks-accent);
}

a:hover {
  color: var(--starbucks-grey);
  text-decoration: none;
}

.emphasis {
  font-weight: 900;
}

.bold {
  font-weight: bold;
}

.uppercase {
  text-transform: uppercase;
}

.green {
  color: var(--starbucks-green);
}

.grey {
  color: var(--starbucks-grey);
}

.button-primary {
  text-align: center;
  border: 2px solid var(--starbucks-green);
  border-radius: 20px;
  padding: 10px 20px;
  background-color: var(--starbucks-green);
  color: var(--starbucks-white);
  transition-duration: 0.3s;
  cursor: pointer;
  font-weight: 800;
}

.button-primary:hover {
  background-color: var(--starbucks-white);
  border: 2px solid var(--starbucks-black);
  color: var(--starbucks-black);
}

.button-secondary {
  text-align: center;
  border: 2px solid var(--starbucks-green);
  border-radius: 20px;
  padding: 10px 20px;
  background-color: var(--starbucks-white);
  color: var(--starbucks-green);
  transition-duration: 0.3s;
  cursor: pointer;
  font-weight: 800;
}

.button-secondary:hover {
  background-color: rgba(236, 235, 235, 0.5);
}

/* page styles */

.page {
  padding: 70px 20px 70px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  background-color: var(--starbucks-white);
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-family: 'Noto Sans', sans-serif;
}

.container {
  background-color: rgba(236, 235, 235, 0.5);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.container h2 {
  font-size: 3.5rem;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
  background-color: var(--starbucks-green);
  color: var(--starbucks-white);
  text-transform: uppercase;
}

.container span {
  font-size: 5rem;
}

#page-1 {
  background-color: var(--starbucks-green);
  height: 100vh;
}

#page-1 .container {
  background-color: transparent;
}

#page-2 {
  background-color: var(--starbucks-brown);
}

#page-3 {
  background-color: var(--starbucks-black);
}

#page-4 {
  background-color: var(--starbucks-gold);
}

/* front (page 1) */

.learn-more {
  margin-top: 20px;
  text-align: center;
  border: 3px solid var(--starbucks-white);
  border-radius: 20px;
  padding: 10px 20px;
  background-color: var(--starbucks-accent);
  color: var(--starbucks-white);
  transition-duration: 0.3s;
  cursor: pointer;
  font-weight: 800;
  text-transform: uppercase;
}

.learn-more:hover {
  border: 3px solid var(--starbucks-black);
  background-color: var(--starbucks-white);
  color: var(--starbucks-black);
  transition: border 0.3s ease-in-out, background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  transform: scale(0.95);
}

/* menu (page 2) */

.menu {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
}

.product {
  flex: 1 1 305px;
  margin: 20px;
  max-width: 700px;
  padding: 20px;
  background-color: var(--starbucks-white);
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.product-image {
  width: 250px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 18px solid var(--starbucks-green);
}

/* news (page 3) */

.news {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  margin: 20px;
}

.article {
  flex: 1 1 300px;
  max-width: 700px;
  background-color: var(--starbucks-white);
  margin: 20px;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.article:hover, .product:hover{
  transform: scale(1.05);
  transition: transform 0.3s ease-in-out;
}

.product, .article {
  transition: background-color 2s ease-in-out, color 2s ease-in-out;
}

/* stores (page 4) */

.contact {
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;
}

.store, .corporate {
  margin: 20px;
  padding: 20px;
  background-color: var(--starbucks-white);
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.info {
 margin: 20px 5px;
}

.info span {
  display: block;
}

.info span:first-of-type {
  font-size: 2.5rem;
}

.info span:not(:first-of-type) {
  font-size: 2rem;
}

.location {
  margin: 20px 5px;
}

.contact-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.contact-buttons button {
  margin: 20px 5px;
}

.store-hours {
  margin: 20px 5px;
}

.corporate h3,
.corporate p {
  margin: 10px;
}

.map {
  width: 400px;
  height: 300px;
}

.collapsible {
  display: none;
}

.corporate {
  text-align: left;
  max-height: fit-content;
}

.corporate h2 {
  background-color: var(--starbucks-black);
  color: var(--starbucks-white);
}

.divider {
  border-top: 4px solid var(--starbucks-black);
  margin-top: 20px;
  margin-bottom: 10px;
}

.brand-image {
  position: relative;
  overflow: hidden;
}

.brand-image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.text-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--starbucks-green);
  text-transform: uppercase;
  font-weight: 800;
  background-color: var(--starbucks-white);
  border: 5px solid var(--starbucks-black);
  padding: 10px 20px;
  align-items: center;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-overlay span {
  font-size: calc(2rem + 2vw);
}

/* Responsive Styles */
@media screen and (max-width: 768px) {

  /* Navbar Styles */
  .navbar {
    flex-direction: row;
    align-items: center;
  }

  .logo {
    order: 2;
    margin: auto;
    margin-bottom: 10px;
  }

  .nav-center {
    order: 1;
    width: 35%;
  }

  .word-mark {
    display: none;
  }

  .hamburger {
    order: 0;
    display: flex;
    cursor: pointer;
    margin: auto; /* Add this line */
    padding: 0;
    background-color: transparent;
    border: none;
    width: 50px;
    z-index: 2;
  }

  .hamburger svg {
    width: 100px;
    height: 100px;
  }

  .side-nav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: var(--starbucks-white);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 80px;
    border-right: 3px dotted var(--starbucks-black);
  }

  .side-nav.active {
    width: 50%;
  }

  .nav-links {
    order: 0;
    display: block;
    margin-right: auto;
    margin-top: 50px;
    text-align: left;
    padding: 30px;
  }

  .nav-links.active {
    display: block;
  }

  .nav-links ul {
    flex-direction: column;
  }

  .nav-links ul li {
    margin-left: 0;
    margin-bottom: 30px;
  }

  /* page styles */

  .container span {
    font-size: 3rem;
  }

  .container h2 {
    font-size: 2.5rem;
  }

  .contact {
    grid-template-columns: 1fr;
  }

  /* menu (page 2) */
  .product, .article, .contact {
    font-size: min(2.5rem, 3.5vw);
  }

  h2, .container h2 {
    font-size: min(3.5rem, 5vw);
  }

  /* stores (page 4) */

  .map {
    width: 300px;
    height: 200px;
  }

  .contact-buttons {
    flex-direction: column;
  }

  .contact-buttons button {
    width: fit-content;
    margin: 5px auto;
  }

  .collapsible {
    background-color: var(--starbucks-white);
    color: black;
    cursor: pointer;
    width: 100%;
    border: none;
    outline: none;
    font-size: 2.5rem;
    text-transform: uppercase;
    position: relative;
    align-items: center;
    display: block;
  }

  .collapsible::after {
    content: ' +'; /* Default symbol when collapsible content is hidden */
    position: absolute;
    right: 0;
    margin-right: 10px;
  }

  .collapsible.active::after {
    content: ' -'; /* Symbol when collapsible content is visible */
  }

  .corporate {
    max-height: 60px;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: var(--starbucks-white);
    text-align: center;
    transition: max-height 1s ease-out;
  }

  .corporate h2, .divider {
    display: none;
  }
}

/* hamburger menu (animation) */

.line {
  fill: none;
  stroke: var(--starbucks-black);
  stroke-width: 6;
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}
.line1 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}
.line2 {
  stroke-dasharray: 60 60;
  stroke-width: 6;
}
.line3 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}
.opened .line1 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}
.opened .line2 {
  stroke-dasharray: 1 60;
  stroke-dashoffset: -30;
  stroke-width: 6;
}
.opened .line3 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}
