/* CSSTidy 2.0.3: Mon, 22 Apr 2024 12:37:09 -0500 */
@keyframes float {
  0%,to {
      transform: translateY(0)
  }

  50% {
      transform: translateY(-10px)
  }
}

@keyframes slideInFromLeft {
  0% {
      transform: translateX(-100%)
  }

  to {
      transform: translateX(0)
  }
}

@keyframes typing {
  0% {
      width: 0
  }

  to {
      width: 100%
  }
}

@keyframes blink {
  0%,to {
      border-color: transparent
  }

  50% {
      border-color: inherit
  }
}

@keyframes moveX {
  0% {
      transform: translateX(0)
  }

  to {
      transform: translateX(100%)
  }
}

@keyframes moveY {
  0% {
      transform: translateY(0)
  }

  to {
      transform: translateY(100%)
  }
}

@keyframes fadeIn {
  to {
      opacity: 1
  }
}

@keyframes fadeOut {
  to {
      opacity: 0
  }
}

*,::after,::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0
}

html {
  font-size: 62.5%;
  scroll-padding-top: 60px
}

:root {
  --starbucks-accent: #00754a;
  --starbucks-black: #34342a;
  --starbucks-brown: #a18664;
  --starbucks-gold: #d4b887;
  --starbucks-green: #006241;
  --starbucks-grey: #666;
  --starbucks-warm: #f2f0eb;
  --starbucks-white: #fff
}

.nav-links ul li a,body {
  color: var(--starbucks-black)
}

.navbar,body {
  background-color: var(--starbucks-white)
}

.navbar {
  font-family: "Montserrat",sans-serif;
  justify-content: space-between;
  overflow: auto;
  position: fixed;
  top: 0;
  transition: opacity .5s ease-in-out;
  width: 100%;
  z-index: 1000
}

.logo,.navbar {
  align-items: center;
  display: flex
}

.logo svg {
  height: 60px;
  padding: 14px 20px
}

.word-mark {
  font-size: 1.8rem;
  font-weight: 700;
  margin-left: 10px;
  text-transform: uppercase
}

.hamburger {
  display: none
}

.nav-links ul {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  margin: 0;
  padding: 0;
  text-transform: uppercase
}

.nav-links ul li {
  margin-left: 20px
}

.nav-links ul li a {
  font-weight: 700;
  padding: 14px 20px;
  text-align: center;
  text-decoration: none
}

.nav-links ul li a:hover {
  color: var(--starbucks-green)
}

a {
  color: var(--starbucks-accent)
}

a:hover {
  color: var(--starbucks-grey);
  text-decoration: none
}

.emphasis {
  font-weight: 900
}

.bold {
  font-weight: 700
}

.uppercase {
  text-transform: uppercase
}

.green {
  color: var(--starbucks-green)
}

.grey {
  color: var(--starbucks-grey)
}

.button-primary {
  background-color: var(--starbucks-green);
  border: 2px solid var(--starbucks-green);
  border-radius: 20px;
  color: var(--starbucks-white);
  cursor: pointer;
  font-weight: 800;
  padding: 10px 20px;
  text-align: center;
  transition-duration: .3s
}

.button-primary:hover,.button-secondary {
  background-color: var(--starbucks-white);
  border: 2px solid var(--starbucks-black);
  color: var(--starbucks-black)
}

.button-secondary {
  border: 2px solid var(--starbucks-green);
  border-radius: 20px;
  color: var(--starbucks-green);
  cursor: pointer;
  font-weight: 800;
  padding: 10px 20px;
  text-align: center;
  transition-duration: .3s
}

.button-secondary:hover {
  background-color: #ecebeb80
}

.page {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 70px 20px
}

.content {
  background-color: var(--starbucks-white);
  border-radius: 5px;
  box-shadow: 0 2px 4px #0000001a;
  font-family: "Noto Sans",sans-serif;
  padding: 20px
}

.container {
  background-color: #ecebeb80;
  display: flex;
  flex-direction: column;
  overflow: hidden
}

#page-1,.container h2 {
  background-color: var(--starbucks-green)
}

.container h2 {
  color: var(--starbucks-white);
  font-size: 3.5rem;
  font-weight: 700;
  margin-bottom: 20px;
  text-align: center;
  text-transform: uppercase
}

.container span {
  font-size: 5rem
}

#page-1 {
  height: 100vh;
  position: relative;
  z-index: 0
}

.background-video,.circle {
  position: absolute;
  z-index: -1
}

.background-video {
  height: 100vh;
  left: 0;
  object-fit: cover;
  opacity: .75;
  top: 0;
  transition: opacity 1s ease-in-out;
  width: 100%;
  will-change: transform
}

#page-1 .content {
  animation: float 3s infinite ease-in-out,slideInFromLeft 2s forwards;
  box-shadow: 0 10px 30px -5px #00000080;
  margin-left: 25%
}

#page-1 .container {
  background-color: transparent
}

#tagline {
  animation: typing 3s steps(40,end) 1s forwards,blink 1s infinite 2s;
  border-right: 3px solid;
  max-width: fit-content;
  overflow: hidden;
  white-space: nowrap;
  width: 0
}

#page-1 p span,body {
  font-size: 1.6rem
}

#page-1 .content {
  overflow: hidden;
  position: relative;
  z-index: 2
}

.circle {
  border-radius: 50%;
  opacity: .5
}

#page-2,.learn-more {
  background-color: var(--starbucks-brown);
  position: relative
}

#page-3 {
  background-color: var(--starbucks-black)
}

#page-4 {
  background-color: var(--starbucks-gold)
}

.learn-more {
  background-color: var(--starbucks-accent);
  border: 3px solid var(--starbucks-white);
  border-radius: 20px;
  color: var(--starbucks-white);
  cursor: pointer;
  font-weight: 800;
  margin-top: 20px;
  padding: 10px 20px;
  text-align: center;
  text-transform: uppercase;
  transition-duration: .3s;
  z-index: 2
}

.learn-more:hover {
  border: 3px solid var(--starbucks-black);
  color: var(--starbucks-black);
  position: relative;
  transform: scale(.95);
  transition: border .3s ease-in-out,background-color .3s ease-in-out,color .3s ease-in-out;
  z-index: 2
}

.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center
}

.learn-more:hover,.product {
  background-color: var(--starbucks-white)
}

.product {
  border-radius: 5px;
  box-shadow: 0 2px 4px #0000001a;
  cursor: pointer;
  flex: 1 1 305px;
  margin: 20px;
  max-width: 700px;
  padding: 20px
}

.product-image {
  border: 18px solid var(--starbucks-green);
  border-radius: 5px;
  margin-bottom: 20px;
  width: 250px
}

.news {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px;
  text-align: center
}

.article {
  background-color: var(--starbucks-white);
  border-radius: 5px;
  box-shadow: 0 2px 4px #0000001a;
  cursor: pointer;
  flex: 1 1 300px;
  margin: 20px;
  max-width: 700px;
  padding: 20px
}

.article:hover,.product:hover {
  transform: scale(1.05);
  transition: transform .3s ease-in-out
}

.article,.product {
  transition: background-color 2s ease-in-out,color 2s ease-in-out
}

.contact {
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center
}

.corporate,.store {
  background-color: var(--starbucks-white);
  border-radius: 5px;
  box-shadow: 0 2px 4px #0000001a;
  margin: 20px;
  padding: 20px
}

.contact-buttons button,.info,.location {
  margin: 20px 5px
}

.info span {
  display: block
}

.info span:first-of-type {
  font-size: 2.5rem
}

.info span:not(:first-of-type) {
  font-size: 2rem
}

.contact-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center
}

.store-hours {
  margin: 20px 5px
}

.corporate h3,.corporate p {
  margin: 10px
}

.map {
  height: 300px;
  width: 400px
}

.collapsible {
  display: none
}

.corporate {
  max-height: fit-content;
  text-align: left
}

.corporate h2 {
  background-color: var(--starbucks-black);
  color: var(--starbucks-white)
}

.divider {
  border-top: 4px solid var(--starbucks-black);
  margin-bottom: 10px;
  margin-top: 20px
}

.brand-image {
  overflow: hidden;
  position: relative
}

.brand-image img {
  height: 100%;
  object-fit: contain;
  width: 100%
}

.text-overlay,footer {
  background-color: var(--starbucks-white)
}

.text-overlay {
  align-items: center;
  border: 5px solid var(--starbucks-black);
  color: var(--starbucks-green);
  display: flex;
  font-size: 2rem;
  font-weight: 800;
  justify-content: center;
  left: 50%;
  padding: 10px 20px;
  position: absolute;
  text-transform: uppercase;
  top: 50%;
  transform: translate(-50%,-50%)
}

.text-overlay span {
  font-size: calc(2rem + 2vw)
}

footer {
  font-family: "Noto Sans",sans-serif;
  padding: 20px;
  text-align: center
}

@media screen and (max-width:768px) {
  .navbar {
      align-items: center;
      flex-direction: row
  }

  .logo {
      margin: auto auto 10px;
      order: 2
  }

  .nav-center {
      order: 1;
      width: 35%
  }

  .word-mark {
      display: none
  }

  .hamburger {
      background-color: transparent;
      border: 0;
      cursor: pointer;
      display: flex;
      margin: auto;
      order: 0;
      padding: 0;
      width: 50px;
      z-index: 2
  }

  .hamburger svg {
      height: 100px;
      width: 100px
  }

  .side-nav {
      background-color: var(--starbucks-white);
      height: 100%;
      left: 0;
      overflow-x: hidden;
      padding-top: 80px;
      position: fixed;
      top: 0;
      transition: .5s;
      width: 0;
      z-index: 1
  }

  .side-nav.active {
      width: 50%
  }

  .nav-links {
      margin-right: auto;
      margin-top: 50px;
      order: 0;
      padding: 30px;
      text-align: left
  }

  .nav-links,.nav-links.active {
      display: block
  }

  .nav-links ul {
      flex-direction: column
  }

  .nav-links ul li {
      margin-bottom: 30px;
      margin-left: 0
  }

  .container span {
      font-size: 3rem
  }

  .container h2 {
      font-size: 2.5rem
  }

  .contact {
      grid-template-columns: 1fr
  }

  .article,.contact,.product {
      font-size: min(2.5rem,3.5vw)
  }

  .container h2,h2 {
      font-size: min(3.5rem,5vw)
  }

  .map {
      height: 200px;
      width: 300px
  }

  .contact-buttons {
      flex-direction: column
  }

  .contact-buttons button {
      margin: 5px auto;
      width: fit-content
  }

  .collapsible,.corporate {
      background-color: var(--starbucks-white)
  }

  .collapsible {
      align-items: center;
      border: 0;
      color: #000;
      cursor: pointer;
      display: block;
      font-size: 2.5rem;
      outline: 0;
      position: relative;
      text-transform: uppercase;
      width: 100%
  }

  .collapsible::after {
      content: " +";
      margin-right: 10px;
      position: absolute;
      right: 0
  }

  .collapsible.active::after {
      content: " -"
  }

  .corporate {
      max-height: 60px;
      overflow: hidden;
      text-align: center;
      transition: max-height 1s ease-out
  }

  .corporate h2,.divider {
      display: none
  }
}

.line {
  fill: none;
  stroke: var(--starbucks-black);
  stroke-width: 6;
  transition: stroke-dasharray 600ms cubic-bezier(.4,0,.2,1),stroke-dashoffset 600ms cubic-bezier(.4,0,.2,1)
}

.line1,.line2,.line3 {
  stroke-dasharray: 60 207;
  stroke-width: 6
}

.line2,.line3 {
  stroke-dasharray: 60 60
}

.line3 {
  stroke-dasharray: 60 207
}

.opened .line1 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6
}

.opened .line2 {
  stroke-dasharray: 1 60;
  stroke-dashoffset: -30;
  stroke-width: 6
}

.opened .line3 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6
}
